[Desktop Entry]
Name=Focuzd
Exec=focuzd
Icon=${SNAP}/meta/gui/focuzd_icon.png
Type=Application
Version=2.0
Terminal=false



Keywords=Pomodoro;
Comment=A simple and elegant pomodoro timer app.
Categories=Productivity;
