[Desktop Entry]
Encoding=UTF-8

Version=1.0
Type=Application
Name=Focuzd


Terminal=false
Exec=focuzd
Icon=${SNAP}/meta/gui/focuzd_icon.png

Keywords=Pomodoro;
Comment=A pomodoro app built with Flutter.
Categories=Productivity;
